.exercice-1 {
  color: #aaa;
  background-color: #eee;
  border: 1px solid #ddd;
}
.exercice-1:hover {
  color: #bbb;
  background-color: #ccc;
}

.job {
  background-color: lightgray;
  border-radius: 5px;
}
.job .job-title {
  color: black;
}
.job .job-description {
  border: 1px solid #000;
  border-right: 0;
  border-left: 0;
}
.job .job-btn {
  padding: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  color: #fff;
  display: inline-block;
  transition: 0.5s;
}
.job .job-btn:hover {
  transform: rotate(-10deg);
}

.square {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

.btn, .btn-pink, .btn-brown {
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s;
  display: inline-block;
}
.btn:hover, .btn-pink:hover, .btn-brown:hover {
  background-color: #000;
  color: #fff;
}

.btn-brown {
  border-color: brown;
  background-color: brown;
  color: #e6e6e6;
}
.btn-brown:hover {
  background-color: #541515;
  color: #fff;
}

.btn-pink {
  border-color: pink;
  background-color: pink;
  color: #e6e6e6;
}
.btn-pink:hover {
  background-color: #ff5a77;
  color: #fff;
}

.btn-brown {
  border-color: brown;
  background-color: brown;
  color: #e6e6e6;
}
.btn-brown:hover {
  background-color: #541515;
  color: #fff;
}

.btn-pink {
  border-color: pink;
  background-color: pink;
  color: #e6e6e6;
}
.btn-pink:hover {
  background-color: #ff5a77;
  color: #fff;
}

.social-facebook {
  background-color: #3b5998;
  color: #2d4373;
  display: inline-block;
}

.social-flickr {
  background-color: #0063db;
  color: #004ca8;
  display: inline-block;
}

.social-linkedin {
  background-color: #007bb6;
  color: #005983;
  display: inline-block;
}

.social-twitter {
  background-color: #00aced;
  color: #0087ba;
  display: inline-block;
}

.social-vimeo {
  background-color: #aad450;
  color: #93c130;
  display: inline-block;
}

.social-youtube {
  background-color: #bb0000;
  color: #880000;
  display: inline-block;
}

.grid {
  display: flex;
}

.col-1\/1 {
  width: 100%;
}

@media (min-width: 992px) {
  lg\:.col-1\/1 {
    width: 100%;
  }
}
.col-1\/2 {
  width: 50%;
}

@media (min-width: 992px) {
  lg\:.col-1\/2 {
    width: 50%;
  }
}
.col-2\/2 {
  width: 100%;
}

@media (min-width: 992px) {
  lg\:.col-2\/2 {
    width: 100%;
  }
}
.col-1\/3 {
  width: 33.3333333333%;
}

@media (min-width: 992px) {
  lg\:.col-1\/3 {
    width: 33.3333333333%;
  }
}
.col-2\/3 {
  width: 66.6666666667%;
}

@media (min-width: 992px) {
  lg\:.col-2\/3 {
    width: 66.6666666667%;
  }
}
.col-3\/3 {
  width: 100%;
}

@media (min-width: 992px) {
  lg\:.col-3\/3 {
    width: 100%;
  }
}
.col-1\/4 {
  width: 25%;
}

@media (min-width: 992px) {
  lg\:.col-1\/4 {
    width: 25%;
  }
}
.col-2\/4 {
  width: 50%;
}

@media (min-width: 992px) {
  lg\:.col-2\/4 {
    width: 50%;
  }
}
.col-3\/4 {
  width: 75%;
}

@media (min-width: 992px) {
  lg\:.col-3\/4 {
    width: 75%;
  }
}
.col-4\/4 {
  width: 100%;
}

@media (min-width: 992px) {
  lg\:.col-4\/4 {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
